<!-- src/app/contact/contact.component.html -->
<div class="contact-container">
  <h2>Get in Touch</h2>
  <p>Hello there! I'm always excited to connect with fellow enthusiasts, professionals, and curious minds. Whether you're interested in discussing innovative projects, exploring collaboration opportunities, or simply want to chat about the latest tech trends, I'm here for it!</p>
  
  <p>If you have any questions or would like to reach out directly, feel free to email me at <a href="mailto:waghamresiddhi1607&#64;gmail.com">waghamresiddhi1607&#64;gmail.com</a>. I strive to respond as quickly as possible and value every message I receive.</p>
  
  <p>You can also connect with me through the following platforms to stay updated on my latest work and thoughts:</p>
  <ul>
    <li><a href="https://x.com/siddhiwaghmare_?t=pNlF2DCqHH5femztr6yeVA&s=09" target="_blank">Twitter</a> – Join the conversation and keep up with my tech insights.</li>
    <li><a href="https://www.linkedin.com/in/siddhi-waghmare-749713259/" target="_blank">LinkedIn</a> – Connect professionally and explore potential collaborations.</li>
    <li><a href="https://github.com/waghmaresiddhi" target="_blank">GitHub</a> – Browse my projects and contribute to open-source initiatives.</li>
  </ul>

  <p>Looking forward to connecting with you!</p>
</div>
