<!-- Home container -->
<div class="home-container">
  <div class="background-image"></div>
  
  <!-- Main content section -->
  <div class="main-content">
    <div class="name-intro">
      <h1>Siddhi Waghmare</h1>
      <p>Passionate about AI, ML, and web development, I am an engineering student dedicated to exploring cutting-edge technologies. My journey includes various projects that reflect my enthusiasm and expertise in these fields.</p>
      
      <!-- Buttons section -->
      <div class="top-buttons">
        <a routerLink="/about" class="btn">About Me</a>
        <a routerLink="/portfolio" class="btn">Portfolio</a>
        <a routerLink="/contact" class="btn">Contact</a>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Siddhi Waghmare. All rights reserved.</p>
  </footer>
</div>
